In [5]:
print("Hello world")
string=input("Enter Your name : ")
print("Hello",string)

Hello world
Hello

Data frame example

In [21]:
import pandas as pd
df1=pd.DataFrame({"name":["Bhavesh","Prerna","Priyanka","Kavita"],"Age":[19,21,24,27]})
df2=pd.DataFrame({"name":["Jay","Khushi","Barunnn","Palak","Krishna"],"Age":[19,21,24,27,30]})
df3=pd.DataFrame({"name":["Jay","Khushi","Barunnn","Palak","Krishna"],"Standard":[2,4,6,8,0]})


pd.merge(df2,df3 ,on="name")

      name  Age  Standard
0      Jay   19         2
1   Khushi   21         4
2  Barunnn   24         6
3    Palak   27         8
4  Krishna   30         0